# EDA on Google Playstore  Dataset

### Life cycle of Machine learning Project
    a.Understanding the Problem Statement.
    b.Data Collection.
    c.Exploratory data analysis.
    d.Data Cleaning.
    e.Data Pre-Processing.
    f.Model Training.
    g.Choose best model.

### 1) Problem statement.
Today, 1.85 million different apps are available for users to download. Android users have even more from which to choose, with 2.56 million available through the Google Play Store. These apps have come to play a huge role in the way we live our lives today. Our Objective is to find the Most Popular Category, find the App with largest number of installs , the App with largest size etc.

### 2) Data Collection.
The Dataset is collected from https://www.kaggle.com/lava18/google-play-store-apps
The data consists of 20 column and 10841 rows.

### 2.1 Import Data and Required Packages

#### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

#### Import the CSV Data as Pandas DataFrame

In [6]:
df = pd.read_csv('D:\Study\Data Science\Python\pythonProjects\Google_Play_Store\googleplaystore.csv')
df.sample(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7316,CG Shikshak,FAMILY,4.4,211,6.8M,"10,000+",Free,0,Everyone,Education,"July 5, 2016",2.0,4.0.3 and up
4798,Vegas Crime Simulator,FAMILY,4.2,721646,99M,"50,000,000+",Free,0,Teen,Simulation,"August 2, 2018",2.7,4.1 and up

In [8]:
# Sorting by columns "Rating" in descending
# order and then "Size" in ascending order
 
df.sort_values(by=['Rating', 'Size'],ascending=[False, True])

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN
8391,DG OFF - 100% Free Coupons & Deals,SHOPPING,5.0,1,1.1M,10+,Free,0,Everyone,Shopping,"July 11, 2018",1.0,4.0 and up
2271,FHR 5-Tier 2.0,MEDICAL,5.0,2,1.2M,500+,Paid,$2.99,Everyone,Medical,"December 16, 2015",1.0,4.0 and up
6055,Movement BE,SOCIAL,5.0,20,1.2M,100+,Free,0,Teen,Social,"November 10, 2016",1.2,4.4 and up
6783,Wifi BT Scanner,FAMILY,5.0,2,1.2M,500+,Free,0,Everyone,Education,"November 3, 2016",1.0,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9655,EO App. SelfCompassion to you,HEALTH_AND_FITNESS,NaN,1,Varies with device,100+,Free,0,Everyone,Health & Fitness,"September 12, 2015",Varies with device,Varies with device
9700,EP McGuffey Primer,FAMILY,NaN,0,Varies with device,50+,Paid,$1.99,Everyone,Education,"July 16, 2018",Varies with device,Varies with device
9980,EvAk Smart Home,LIFESTYLE,NaN,14,Varies with device,500+,Free,0,Everyone,Lifestyle,"March 13, 2018",1.1.1,4.1 and up
10002,"Ew, the small alien",GAME,NaN,5,Varies with device,10+,Free,0,Everyone,Adventure,"January 21, 2017",Varies with device,2.3 and up
10439,Carpooling FH Hagenberg,COMMUNICATION,NaN,0,Varies with device,100+,Free,0,Everyone,Communication,"May 18, 2017",Varies with device,Varies with device

#### Shape of the dataset

In [9]:
df.shape

(10841, 13)

In [10]:
df.describe(include='all')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Summary of the dataset
    . The described method will help to see how data has been spread for numerical values
    . We can clearly see the minimum value, mean values, different percentile values, and maximum values.

#### Check Datatypes in the dataset
    #info() is used to check the Information about the data and the datatypes of each respective attribute

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

#### Insights
    The data has 12 object and 1 numeric feature
    We need to convert (Reviews & Size & Installs & Price) to int
    we need to Change Last update into a datetime column

#### Handling Feature "Reviews"
    Check if all values in number of Reviews numeric

In [12]:
df.Reviews.str.isnumeric().sum()

10840

#### One value in the Feature Column is non numeric out of 10841.
    Lets find its value and id.

In [17]:
df[~df['Reviews'].str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

#### It can be noticed that the entries are entered wrong  ex. Phone value can not be Everyone, 
    We can either correct the missing value and reload the data 
    or delete the sample for now. 
    
I am choosing to delete it

In [18]:
# take a backup of the dataframe
df_copy = df.copy()
df.drop(df.index[10472],inplace = True)

In [20]:
# Checking if we still have any non numeric value in the Reviews column

df[~df['Reviews'].str.isnumeric()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [28]:
#### Converting Reviews datatype to  
df["Reviews"]= df["Reviews"].astype(int)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB

In [30]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up